.whatsapp-right {
    position: fixed;
    right: 25px;
    bottom: 20px;
    z-index: 999;
    margin-bottom: 20px !important;
}

.whatsapp-left {
    position: fixed;
    left: 25px;
    bottom: 20px;
    z-index: 999;
    margin-bottom: 20px !important;
}

.whatsapp-left img {
    width: 60px;
    height: 60px;
}

.whatsapp-right img {
    width: 60px;
    height: 60px;
}

.whatsapp-right:hover {
    opacity: 0.7 !important;
    filter: alpha(opacity=70) !important;
}
.whatsapp-left:hover {
    opacity: 0.7 !important;
    filter: alpha(opacity=70) !important;
}