#o_wblog_post_comments{
    padding-top: 80px !important;

}

.ql-toolbar{
    position: fixed;
    top: 110px;
    background-color: white;
    z-index: 120;
    color: white;
}

strong{
    font-weight: 700 !important;
}